h1 {
    font-family: sans-serif;
    font-size: 40px;
    fon
  }
  body {
    margin: 0 auto;
    background-color: #B1C3DF;
    background-repeat: no-repeat;
    background-size: 100% 720px;
  }
  .container {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(14, 109, 204, 0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
  }
  .container img {
    width: 100px;
    height: 100px;
    margin-top: -80px;
    margin-bottom: -40px;
  }
  input[type="text"],input[type="password"]{
    position: relative;
    height: 45px;
    width: 300px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin-bottom: 15px;
    background-color: #fff;
    padding-left: 30px;
  }
  .btn-login {
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid;
  }
  h1 {
    font-family: sans-serif;
    font-size: 40px;
    fon
  }
  .container {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
  }
  .container img {
    width: 100px;
    height: 100px;
    margin-top: -80px;
    margin-bottom: -40px;
  }
  input[type="text"],input[type="password"]{
    position: relative;
    height: 45px;
    width: 300px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin-bottom: 15px;
    background-color: #fff;
    padding-left: 30px;
  }
  .btn-login {
    padding: 15px 30px;
    color: #fff;
    background-color: #207cca;   
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid;
  }
